body * {
	box-sizing: border-box;
}

main, nav {
	font-family: 'Raleway', sans-serif;
}

form, input {
	border: 0;
}

/********* 
	Override default styling for bootstrap
**********/
nav {
	z-index: 100;
}

nav.unauthenticated-navbar {
	background: white;
	color: black;
	margin-bottom: 0;
	height: 100px; 
}

nav .navbar-header, nav .collapse {
	height: 100px;
}

.navbar-header {
	z-index: 100;
	padding-top: 25px;
}

ul#home-nav-list a {
	position: relative;
	text-decoration: none;
}

ul#home-nav-list a, div.unauthenticated-collapse > ul.unauthenticated-nav-list a {
	color: black;
}

ul#home-nav-list a:hover, div.unauthenticated-collapse > ul.unauthenticated-nav-list a:hover {
	color: #ffe200;
	background: transparent;
}

ul#home-nav-list a:before, ul.unauthenticated-nav-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border: 1px solid #ffe200;
}

ul#home-nav-list a:hover:before, ul.unauthenticated-nav-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


ul.unauthenticated-nav-list {
	margin-top: 0;
}

div.home-jumbotron-container {
	background: linear-gradient(
      				rgba(0, 0, 0, 0.6),
      				rgba(0, 0, 0, 0.6)
    			), url('../images/jumbotron.jpg');
}


div.about-jumbotron-container {
	background: url('../images/about-jumbotron.jpg');
}


div.home-jumbotron-container, div.about-jumbotron-container {
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

div.home-jumbotron, div.about-jumbotron {
	background: transparent;
	color: white;
	height: 400px;
	margin-bottom: 0px;
}

.mobile-white {
	background-color: white;
}

/*******
static pages styling 
********/
.logo {
	height: 50px;
	width: 50px;
}

.outer {
	display: table;
	height: 100%;
	width: 100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
}

.title-size {
	font-size: 2.5em;
}

.subtitle-size {
	font-size: 2em;
}

.description-size {
	font-size: 1.50em;
}

.pad-top {
	padding-top: 50px;
}

.jumbotron-heading-container {
	margin-bottom: 10px;
}

.jumbotron-heading {
	font-size: 2em;
}

.jumbotron-subheading {
	font-size: 1.25em;
}

.scroll-down-container {
	text-align: center;
}

.scroll-down {
	color: black;
	background-color: #ffe200;
	border: 0;
	width: 40%;
	height: 30px;
	margin-top: 20px;
}

.scroll-down:hover, .meet-lts:hover {
	background-color: #586300;
}

button.about-button {
	background: transparent;
	width: 25%;
	margin-top: 45px;
	border: 0;
	font-size: 20px;
}

button.about-button > span.about-down {
	color: white;
}

button.black-about-button > span.about-down {
	color: black;
}

.short-about-title-container {
	margin-bottom: 25px; 
}

.short-about-title {
	font-size: 3em;
}

.short-about-subtitle {
	margin-bottom: 15px;
}

.who-we-are {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}

.short-about-logo-container {
	margin-top: 15px;
}

.short-about-logo, .what-section-image {
	height: 350px;
	width: 350px;
}

.three-selling-points {
	padding-top: 20px;
	background-color: #ffe200;
	color: #373737;
}

.selling-point {
	text-align: center;
}

.selling-point-title, .selling-point-glyphicon, .selling-point-description {
	margin-bottom: 15px;
}

.selling-point-title {
	font-size: 1.65em;
}

.selling-point-glyphicon, .fact-glyphicon {
	background-color: #373737;
	color: white;
	height: 65px;
	width: 65px;
	border-radius: 100%;
	font-size: 30px;
	padding-top: 14.5px;
}

.selling-point-description {
	font-size: 1.25em;
}

.contact-page-container {
	background-color: #ffe200;
	height: 100vh;
	padding-top: 25px;
}

.contact-title-container {
	text-align: center;
}

.footer {
	background-color: #373737;
	padding: 20px 15px;
	color: white; 
}

.footer-links {
	text-align: right;
	padding-top: 5px;
}

.footer-links a {
	color: white;
	text-decoration: none;
}

.footer-links a:hover {
	color: #ffe200;
}

.story {
	padding: 40px 5px;
}

.what-where {
	text-align: center;
}

.what-section-title {
	margin-bottom: 20px;
}

.where-story-pg {
	margin-top: 20px;
}

.facts {
	background: #ffe200;
	text-align: center;
}

.fact-glyphicon-container, .fact-title-container, .fact-subtitle-container {
	margin-bottom: 20px;	
}

.for-you {
	text-align: center;
	background: #ffe200;
}

.contact-label {
	line-height: 55px;
}

.contact-field {
	height: 35px;
}

@media screen and (max-width: 768px) {
	.our-story-image {
		height: 200px;
		width: 300px;
	}

	.logo {
		margin-left: 10px;
	}

}

@media screen and (min-width: 768px) {
	#home-navbar li {
		font-size: 1.2em;
	}

	nav .navbar-header, nav .collapse {
		padding-top: 25px;
	}

	div.home-jumbotron-container {
		background: linear-gradient(
      				rgba(0, 0, 0, 0.6),
      				rgba(0, 0, 0, 0.6)
    			), 
				url('../images/jumbotron.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}	

	div.home-jumbotron, div.about-jumbotron {
		height: 700px;
	}

	.scroll-down-container {
		text-align: left;
	}

	.scroll-down {
		width: 15%;
	}


	.jumbotron-heading, .title-size {
		font-size: 3.5em;
	}

	.jumbotron-subheading, .subtitle-heading {
		font-size: 2em;
	}

	.who-we-are > span {
		font-size: 5em;
	}

	.find-out-more {
		width: 25%;
		height: 40px;
		margin-top: 25px;	
	}

	div.unauthenticated-collapse > ul.unauthenticated-nav-list {
		height: 50px;
	}

	span.call-tag {
		font-size: 1.5em;
		margin-left: 20px;
	}

	button.about-button {
		width: 15%;
		margin-top: 50px;
	}

	.who-we-are {
		height: 100vh;
		padding-bottom: 0px;
	}

	.who-we-title {
		font-size: 4.5em;
	}

	#goto-selling-points {
		display: inline;
	}

	.who-section-contact {
		display: inline-block;
		width: 15%;
		height: 30px;
		border: 0;
		color: #373737;
		background-color: #ffe200;
		margin-top: 25px;
	}

	.who-section-contact:hover {
		background-color: #586300;
	}

	.three-selling-points {
		padding: 50px 0px;
	}

	.footer-links {
		padding-right: 35px;
	}

}

@media screen and (min-width: 1200px) {
	ul#home-nav-list, div.unauthenticated-collapse > ul.unauthenticated-nav-list {
		margin-right: 125px;
	}

	nav > div.container-fluid .navbar-header {
		margin-left: 100px;
	}

	.selling-point-title {
		font-size: 2em;
	}


	.selling-point-description {
		font-size: 1.50em;
	}
}