body * {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

main, nav {
	font-family: 'Raleway', sans-serif;
}

/********* 
	Override default styling for bootstrap
**********/
nav.home-navbar {
	background: transparent;
	border: 0;
	z-index: 1000;
}

nav.unauthenticated-navbar {
	background: transparent;
	margin-bottom: 0;
}

ul#home-nav-list a {
	color: white;
	position: relative;
	text-decoration: none;
}

div.unauthenticated-collapse > ul.unauthenticated-nav-list a {
	color: black;
}

/** Below we use direct child for the second ruleset of div.una..... for speficity **/
ul#home-nav-list a:hover, div.unauthenticated-collapse > ul.unauthenticated-nav-list a:hover {
	color: #e3ff00;
	background: transparent;
}

ul#home-nav-list a:before, ul.unauthenticated-nav-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border: 1px solid #e3ff00;
}

ul#home-nav-list a:hover:before, ul.unauthenticated-nav-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

div.unauthenticated-collapse > ul.unauthenticated-nav-list {
	margin-top: 25px;
}

/*******
static pages styling 
********/
.logo {
	height: 100px;
	width: 100px;
}

.outer {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	background: linear-gradient(
      				rgba(0, 0, 0, 0.8),
      				rgba(0, 0, 0, 0.8)
    			),
				url('../images/home_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.inner {
	display: table-cell;
	vertical-align: middle;
}

div.welcome-page {
	text-align: center;
	color: white;
}

.main-welcoming {
	font-size: 3em;
}

.find-out-more {
	color: black;
	background-color: #e3ff00;
	border: 0;
	margin-top: 20px;
	width: 40%;
	height: 30px;
}

.find-out-more:hover {
	background-color: #586300;
}

@media screen and (min-width: 768px) {
	#home-navbar li {
		font-size: 1.2em;
	}

	.main-welcoming {
		font-size: 5em;
	}

	.sub-welcoming {
		font-size: 2.5em;
	}

	.find-out-more {
		width: 25%;
		height: 40px;
		margin-top: 25px;	
	}
}

@media screen and (min-width: 1200px) {
	.sub-welcoming {
		font-size: 3em;
	}
}