body * {
	box-sizing: border-box;
}

main, nav {
	font-family: 'Raleway', sans-serif;
}

/********* 
	Override default styling for bootstrap
**********/
nav.home-navbar, nav.unauthenticated-navbar {
	background: transparent;
	border: 0;
	z-index: 1000;
	position: absolute;
	width: 100%;
}

ul#home-nav-list a {
	position: relative;
	text-decoration: none;
}

ul#home-nav-list a, div.unauthenticated-collapse > ul.unauthenticated-nav-list a {
	color: white;
}

/** Below we use direct child for the second ruleset of div.una..... for speficity **/
ul#home-nav-list a:hover, div.unauthenticated-collapse > ul.unauthenticated-nav-list a:hover {
	color: #ffe200;
	background: transparent;
}

ul#home-nav-list a:before, ul.unauthenticated-nav-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border: 1px solid #ffe200;
}

ul#home-nav-list a:hover:before, ul.unauthenticated-nav-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*******
static pages styling 
********/
.logo {
	height: 50px;
	width: 50px;
}

span.call-tag {
	color: white;
}

.outer {
	display: table;
	height: 100vh;
}

.inner {
	display: table-cell;
	vertical-align: middle;
}

.home-outer {
	background: linear-gradient(
      				rgba(0, 0, 0, 0.8),
      				rgba(0, 0, 0, 0.8)
    			),
				url('../images/home_background.jpg');
	width: 100vw;
}

.about-outer {
	background: linear-gradient(
      				rgba(0, 0, 0, 0.8),
      				rgba(0, 0, 0, 0.8)
    			),
				url('../images/about-background.jpg');	
}

.home-outer, .about-outer {
	background-size: cover;
	background-repeat: no-repeat;
}

div.welcome-page {
	text-align: center;
	color: white;
}

.main-welcoming, .about-intro, .first-half-title {
	font-size: 3em;
}

.find-out-more {
	color: black;
	background-color: #ffe200;
	border: 0;
	margin-top: 20px;
	width: 40%;
	height: 30px;
}

.find-out-more:hover {
	background-color: #586300;
}

.first-about {
	padding-left: 15px;
	color: white;
}

.about-button-container {
	text-align: center;
}

button.about-button {
	background: transparent;
	width: 25%;
	margin-top: 45px;
	border: 0;
	font-size: 20px;
}

button.about-button > span.about-down {
	color: white;
}

button.black-about-button > span.about-down {
	color: black;
}

.about-first-half {
	border-top: 20px solid #373737;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}

.who-section-logo {
	height: 350px;
	width: 350px;
}

.who-section-description {
	font-weight: bold;
}

#second-about-button {
	display: none;
}

.who-section-contact {
	display: none;
}

.three-selling-points {
	padding-top: 20px;
	background-color: #ffe200;
	color: #373737;
}

.selling-point {
	text-align: center;
}

.selling-point-title, .selling-point-glyphicon, .selling-point-description {
	margin-bottom: 15px;
}

.selling-point-title {
	font-size: 1.65em;
}

.selling-point-glyphicon {
	background-color: #373737;
	color: white;
	height: 65px;
	width: 65px;
	border-radius: 100%;
	font-size: 30px;
	padding-top: 14.5px;
}

.selling-point-description {
	font-size: 1.25em;
}

.footer {
	background-color: #373737;
	padding: 20px 15px;
	color: white; 
}

.footer-links {
	text-align: right;
}

.footer-links a {
	color: white;
	text-decoration: none;
}

.footer-links a:hover {
	color: #ffe200;
}

@media screen and (min-width: 768px) {
	#home-navbar li {
		font-size: 1.2em;
	}

	.main-welcoming, .about-intro, .first-half-title {
		font-size: 5em;
	}

	.sub-welcoming {
		font-size: 2.5em;
	}

	.about-sub-intro {
		font-size: 1.75em; 
	}

	.find-out-more {
		width: 25%;
		height: 40px;
		margin-top: 25px;	
	}

	div.unauthenticated-collapse > ul.unauthenticated-nav-list {
		height: 50px;
	}

	span.call-tag {
		font-size: 1.5em;
		margin-left: 20px;
		color: white;
	}

	button.about-button {
		width: 15%;
		margin-top: 50px;
	}

	.about-first-half {
		height: 100vh;
		padding-bottom: 0px;
	}


	#second-about-button {
		display: inline;
	}


	.who-section-contact {
		display: inline-block;
		width: 15%;
		height: 30px;
		border: 0;
		color: #373737;
		background-color: #ffe200;
		margin-top: 25px;
	}

	.who-section-contact:hover {
		background-color: #586300;
	}

	.three-selling-points {
		padding: 50px 0px;
	}

	.footer-links {
		padding-right: 35px;
	}

}

@media screen and (min-width: 1200px) {
	.sub-welcoming {
		font-size: 3em;
	}

	.about-sub-intro {
		font-size: 2em;
	}

	ul#home-nav-list, div.unauthenticated-collapse > ul.unauthenticated-nav-list {
		margin-right: 125px;
	}

	nav > div.container-fluid .navbar-header {
		margin-left: 100px;
	}


	.selling-point-title {
		font-size: 2em;
	}


	.selling-point-description {
		font-size: 1.50em;
	}
}